# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Virtualenv / Poetry
.venv/
venv/

# Тесты и кэши
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# macOS
.DS_Store